* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    background: transparent;
}
body {
    color: #4196b7;
    font: normal 12px arial, sans-serif;
}

.phone {
    position: relative;
    margin: 10px auto;
    width: 320px;
    height: 705px;
    border-radius: 80px / 40px;
    border-top: 3px solid #222;
    background: #6d6d6b;
    background: -moz-linear-gradient(
            left,
            #6d6d6b 0%,
            #3b3b3c 1%,
            #979797 3%,
            #686868 4%,
            #2e2e2e 100%
    );
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%, #6d6d6b),
            color-stop(1%, #3b3b3c),
            color-stop(3%, #979797),
            color-stop(4%, #686868),
            color-stop(100%, #2e2e2e)
    );
    background: -webkit-linear-gradient(
            left,
            #6d6d6b 0%,
            #3b3b3c 1%,
            #979797 3%,
            #686868 4%,
            #2e2e2e 100%
    );
    background: -o-linear-gradient(
            left,
            #6d6d6b 0%,
            #3b3b3c 1%,
            #979797 3%,
            #686868 4%,
            #2e2e2e 100%
    );
    background: -ms-linear-gradient(
            left,
            #6d6d6b 0%,
            #3b3b3c 1%,
            #979797 3%,
            #686868 4%,
            #2e2e2e 100%
    );
    background: linear-gradient(
            to right,
            #6d6d6b 0%,
            #3b3b3c 1%,
            #979797 3%,
            #686868 4%,
            #2e2e2e 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#6d6d6b",
            endColorstr="#2e2e2e",
            GradientType=1
    );
}
.phone:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: -6px;
    left: 0px;
    background: #babbbb;
    width: 314px;
    height: 78px;
    border-radius: 25% / 45%;
    border-top: 1px solid #444;
}
.phone:after {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: -5px;
    left: 0px;
    background: #babbbb;
    width: 314px;
    height: 78px;
    border-radius: 25% / 45%;
    border-bottom: 2px solid #555;
}
.screen {
    position: absolute;
    left: 17px;
    top: 64px;
    width: 288px;
    height: 545px;
    background: white;

}
.phone-infos {
    width: 100%;
    height: 17px;
    background: #303030;

}
.phone-infos span {
    float: right;
    font-size: 11px;
    margin: 2px 3px;
}
.phone-infos .battery {
    width: 8px;
    height: 10px;
    background: #4196b7;
    margin-top: 2px;
    position: relative;
    margin-top: 4px;
}
.phone-infos .battery:before {
    width: 4px;
    height: 2px;
    position: absolute;
    left: 2px;
    top: -2px;
    background: #4196b7;
    content: "";
}
.phone-infos .gsm {
    position: relative;
    height: 12px;
    margin-right: 10px;
}
.phone-infos .gsm b {
    float: left;
    position: absolute;
    bottom: 0;
}
.phone-infos .gsm b:before {
    position: absolute;
    content: "";
    top: -3px;
    width: 0;
    height: 0;
    border-bottom: 3px solid #4196b7;
    border-left: 3px solid transparent;
}
.phone-infos .gsm .signal1 {
    width: 3px;
    height: 0px;
    background: #4196b7;
    left: -8px;
}
.phone-infos .gsm .signal2 {
    width: 3px;
    height: 3px;
    background: #4196b7;
    left: -4px;
}
.phone-infos .gsm .signal3 {
    width: 3px;
    height: 7px;
    background: #4196b7;
}
.phone-infos .gsm .signal4 {
    width: 3px;
    height: 11px;
    background: #808184;
    left: 4px;
}
.phone-infos .gsm .signal4:before {
    border-bottom: 3px solid #808184;
    border-left: 3px solid transparent;
}
.main-btns {
    position: relative;
    top: -9px;
    width: 100%;
    height: 34px;
    background: #303030;
}
.main-btns li {
    list-style: none;
    float: left;
}
.main-btns li a {
    width: 30px;
    display: block;
    width: 94px;
    height: 34px;
    text-align: center;
}
/* 	Icon Group 	*/
.icon {
    display: inline-block;
    font-style: normal;
    position: relative;
}
.icon.home {
    width: 25px;
    height: 8px;
    border: 2px solid #bbbbbb;
    border-top: 0;
    margin-top: 15px;
}
.icon.home:after {
    width: 2px;
    height: 17px;
    background: #bbbbbb;
    position: absolute;
    top: -12px;
    left: 5px;
    content: "";
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg);
}
.icon.home:before {
    width: 2px;
    height: 17px;
    background: #bbbbbb;
    position: absolute;
    top: -12px;
    right: 5px;
    content: "";
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    transform: rotate(110deg);
}
.icon.windows {
    width: 20px;
    height: 8px;
    border: 2px solid #bbbbbb;
    margin-top: 13px;
}
.icon.windows:after {
    width: 2px;
    height: 14px;
    background: #bbbbbb;
    position: absolute;
    content: "";
    right: -6px;
    top: -6px;
}
.icon.windows:before {
    width: 22px;
    height: 2px;
    background: #bbbbbb;
    position: absolute;
    content: "";
    right: -4px;
    top: -6px;
}
.icon.back {
    width: 20px;
    height: 2px;
    background: #bbb;
    color: #bbb;
    font-size: 18px;
    line-height: 0px;
    text-indent: -16px;
    font-family: sans-serif;
    margin-top: 12px;
}
.icon.back:before {
    width: 7px;
    height: 11px;
    background: #303030;
    position: absolute;
    content: "";
    left: 8px;
    z-index: 10;
    top: 2px;
}
.icon.back:after {
    width: 20px;
    height: 7px;
    border: 2px solid #bbb;
    position: absolute;
    content: "";
    border-radius: 10px;
}

.game{
    background: rgba(45, 49, 46, 0.91);
}
.game h3{
    font-size: 16px;
    font-family: "Century Gothic", Arial;
    color: white;
    text-align: center;
}


