.List {
  display: flex;
  flex-flow: column;
  gap: 14px;
}

.List button {
  background-color: var(--yellow-color);
  border-radius: 4px;
  width: 240px;
  text-align: center;
  border: none;
  padding: 0;
}


.List button a {
  color: var(--white-color);
  font-size: 18px;
  padding: 12px 0;
  width: 100%;
}
