.About{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-brown-color);
}

.About a{
    color: var(--yellow-color);
    font-weight: 700;
}