:root {
  --yellow-color: hsl(45, 99%, 64%);
  --white-color: hsl(100, 100%, 100%);
  --dark-brown-color: hsl(25, 59%, 32%);
  --pale-brown-color: hsl(34, 69%, 53%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  display: inline-block;
}

button:active,
button:focus {
  outline: none;
}

